body {
  background-color: aliceblue;
  background-image: url(../img/dj-mixer-krys-amon.jpg)

}

/*Link for image: https://unsplash.com/photos/ttv1pX6tk7o */

h1 {
  color: #FFFFFF;
}

caption {
  text-align: left;
}

.tg  {
  border-collapse:collapse;
  border-spacing:0;
}

      .First-header {
        Background-color: #DCDCDC;
      }

      #First-row {
        Background-color: #DCDCDC;
      }

      .tg td {
        background-color: #FFFFFF;
        border-color:black;
        border-style:solid;
        border-width:1px;
        font-family:Arial, sans-serif;
        font-size:14px;
        overflow:hidden;
        padding:10px 5px;
        word-break:normal;
      }

      .tg th {
        background-color: #FFFFFF;
        border-color:black;
        border-style:solid;
        border-width:1px;
        font-family:Arial, sans-serif;
        font-size:14px;
        font-weight:normal;
        overflow:hidden;
        padding:10px 5px;
        word-break:normal;
      }

      .tg .tg-0pky {
        border-color:inherit;
        text-align:left;
        vertical-align:top
      }
